
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav-title{
    color: rgba(78, 71, 255, 1);
    font-size: 45px;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.button-primary{
    background-color: rgba(78, 71, 255, 1);
     font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 10px;
}
header{
    background-image: url(image/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}
.banner-title{
    color: rgba(37, 36, 50, 1);
    font-size: 65px;
    font-weight: bold;
}
.banner-content{
    margin-top: 200px;
    margin-left: 500px;
    max-width: 900px;
    text-align: center;
}