
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: rgb(245,248,255)
}
.nav-title{
    color: rgba(78, 71, 255, 1);
    font-size: 45px;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.button-primary{
    background-color: rgba(78, 71, 255, 1);
     font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 10px;
}
header{
    background-image: url(image/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}
.banner-title{
    color: rgba(37, 36, 50, 1);
    font-size: 65px;
    font-weight: bold;
}
.banner-content{
    margin-top: 150px;
    margin-left: 320px;
    max-width: 900px;
    text-align: center;
}
.action{
   display: flex;
   justify-content: space-between;
   max-width: 1380px;
   align-items: center;
   gap: 220px;
   margin-bottom: 115px;
}
.action-title{
    font-size: 30px;
    font-weight: bold;
}
.action-descrip{
    color: rgba(37, 36, 50, 0.5);
    font-size: 20px;
}
.action-items{
   padding-bottom: 50px;
    margin-left: 160px;
    
}
section img{
    size: 200px 403px;
    border-radius: 50px;
}
.productive-user{
    max-width: 1000px;
   max-height: 240px;
   text-align: center;
    padding: 50px 160px;
    margin: 0px 120px;
    margin-bottom: 130px;
    border-radius: 24px;
   background-color: rgba(78, 71, 255, 0.1);
   
   
}
.user-section-titile{
    color: rgba(37, 36, 50, 1);
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    
}
.user-section-items-des h3{
    color: #4E47FF;
   font-size: 80px;
    font-weight: bold;
    margin: 20px 0px 5px 0px;
    
}
.user-section-items-des p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
}
.user-section-items{
    display: flex;
    justify-content: space-around;
    
}
.card{
    display: flex;
    gap: 30px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}


.feedback-heading{
    color: black;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.users-data{
    display: flex;
    gap: 12px;
}
.feedback-card{
    width: 366px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 10px;
    border-radius: 20px;
    
    }
.users-name{
    color: grey;
}
.reviewer {
      display: flex;
      align-items: center;
      gap: 12px;
 }
    .reviewer-name{
        color: #757575;
 }
    .reviewer-date{
        color: #B3B3B3;
    }
    .information{
        max-width: 1240px;
        display: flex;
        gap: 50px;
        align-items: center;
        margin-left: 190px;
        
    }
    
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
    .informatin-section-title{
        max-width: 590px;
        font-size: 55px;
        font-weight: bold;
        margin-right: 110px;
        margin-top: 50px;
    }
    .information-form{
        margin-top: 100px;
        margin-bottom: 100px;
    }
input{
    background-color: rgba(255, 255, 255, 1);
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 7px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
textarea{
    width: 400px;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 7px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.footer-section{
   
    text-align: center;
    padding: 20px 60px 20px 60px;
    
}
.footer-bg{
    background-color: rgba(255, 255, 255, 1);
}

.footer-title{
    text-align: center;
    color: #4E47FF;
    font-size: 100px;
    margin-bottom: 20px;
    font-weight: black;
 }
 .footer-description{
    max-width: 590px;
    color: #8987A1;
    margin: 0px 400px 0px 430px;

 }
 footer ul{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-top: 0px;
 }
 .footer-navmenu li{
    list-style: none;
    margin: 25px;
 }
 .footer-navmenu li a{
    text-decoration: none;
    color: #8987A1;
 }