
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: rgb(245,248,255)
}
.nav-title{
    color: rgba(78, 71, 255, 1);
    font-size: 45px;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.button-primary{
    background-color: rgba(78, 71, 255, 1);
     font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 10px;
}
header{
    background-image: url(image/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}
.banner-title{
    color: rgba(37, 36, 50, 1);
    font-size: 65px;
    font-weight: bold;
}
.banner-content{
    margin-top: 150px;
    margin-left: 320px;
    max-width: 900px;
    text-align: center;
}
.action{
   display: flex;
   justify-content: space-between;
   max-width: 1300px;
   align-items: center;
   gap: 220px;
   margin-bottom: 115px;
}
.action-title{
    font-size: 30px;
    font-weight: bold;
}
.action-descrip{
    color: rgba(37, 36, 50, 0.5);
    font-size: 20px;
}
.action-items{
   padding-bottom: 50px;
    margin-left: 230px;
    
}
section img{
    size: 200px 403px;
    border-radius: 50px;
}